<div id="messages_wrapper">
<div id="new_message_wrapper">
<body class="main">
<h1>New message</h1>
	 To <%= User.find(params[:recipient]).username %>:
	</br>
	</br>  
<%= form_tag create_message_path do %>
	 
	Subject: </br>
	<% if @reply %>
		<%= text_field_tag :subject, "#{@reply}", :size => "75x15" %></br></br>
	<% elsif @subject %>
		<%= text_field_tag :subject, @subject, :size => "75x15" %></br></br>
	<% else %>
		<%= text_field_tag :subject, @subject, :size => "75x15" %></br></br>
	<% end %>
	
	Message Body: </br>
	<% if @template %>
		<%= text_area_tag :text, "#{render :partial => @template}", :size => "75x17" %></br></br>
	<% else %>
		<%= text_area_tag :text, "", :size => "75x17" %></br></br>
	<% end %>
	<%= hidden_field_tag :recipient_id, params[:recipient] %>
	<%= hidden_field_tag :return_url, params[:return_url] %>
	<% if params[:book_desc] %>
		<%= hidden_field_tag :about_a_book, true %>
	<% end %>
	<%= submit_tag("Send") %></br>

<% end %>

</body>
</div>
</div>