<div id="profile_wrapper">
<body class="main">

<span class="profile_title">Building Profile: <%= @building.name %></span>

<div id="building_content">
	<h3>By the numbers</h3>
	Total residents: <%= "CONTACT MICHELLE ABOUT THESE NUMBERS" %></br>
	Hill Heroes: <%= @building.users.count %></br>
	Percentage of Hill Heroes:</br>

	<h4>What <%= @building.name %> is talking about...</h4>
	<hr>
	<% counter = 1 %>
	<% @topics.each do |t| %>
		<% if t.user.building.id == @building.id %>
			<%= link_to t.subject, forem.forum_topic_path(t.forum.id, t) %> in <%= t.forum.title %> by <%= t.user %></br>
			<% counter += 1 %>
			<% break if counter > 10 %>
		<% end %>
	<% end %>
</div>

</body>
</div>