<div id="classes_wrapper">

<body class="main">
	<span id="quarter">
		<%= @term %>
	</span>
	
	<div id="classes">
		<% if @my_courses %>
			<table>
				<col width="800" />
				<col width="" />
					<%= render :partial => "my_courses" %>
			</table>
		<% else %>
			<div style="text-align: center;">You haven't established your classes for this quarter!</div>
		<% end %>
	</div>
	
	<div>
		<span><%= link_to "Back", :back %></span>
		
		<%= form_tag(manage_classes_path) do %>
			<span><%= collection_select(nil, :qtr_id, current_user.quarters, :id, :term, {:prompt => "View Another Quarter..."}) %></span>
			<span><%= submit_tag("Go") %></span>
		<% end %>

	</div>
	
	<span><button id="show_fields">Add Classes</button></span>

	<div class="hidden_element" id="errors">
		You are already enrolled in that class!
	</div>

	<div id="selections">
		<%= form_tag(add_course_to_quarter_path, :remote => true) do %>
			<%= collection_select(:new_class, :field, @fields, :id, :title, {:prompt => "Fields..."}, {:id => "field_select"}) %></br>
			<%= collection_select(:new_class, :course, @courses, :id, :title, {:prompt => "Select A Field From The List Above"}, {:id => "course_select"}) %>
			<%= hidden_field_tag :term, @term %>
			<%= submit_tag("Add") %>
		<% end %>
	</div>
</body>

</div>