<!-- confirm owner -->
<%= @access_token %>
<!-- confirm owner -->

<div id="owner_wrapper">

	<h1>Owner Area</h1>

	<%= link_to "Insert a class into the database", insert_class_path %></br>
	<%= link_to "Manage Test Bank Entries", review_test_bank_entries_path %></br>
	<%= link_to "Lock an Account", lock_account_path %>

	</br></br></br>

	<%= link_to "Execute Custom Script", custom_script_path, :confirm => "Are you sure? Running the script may tamper with the database.." %>
</div>