<table align="center">
	<col width="200" />
	<col width="200" />
	<col width="200" />
	<col width="100" />
	<col width="100" />
		
		<th>Filename</th>
		<th><%= link_to "Professor", test_bank_path(:course => params[:course], :order => (@current_order == "by_prof" ? "by_prof_desc" : "by_prof")) %></th>
		<th>Details</th>
		<th>Term</th>
		<th><%= link_to "Quality", test_bank_path(:course => params[:course], :order => (@current_order == "by_quality" ? "by_quality_desc" : "by_quality")) %></th>

		<% @exams.each do |exam| %>
			<tr>
				<% if @accessible_exams && @accessible_exams.size > 0 && @accessible_exams.include?(params[:course]) %>
					<td><%= link_to exam.document_file_name, "http://dl.dropbox.com/u/108716796#{exam.document.path}", :target => "_blank" %></td>
				<% else %>
					<td><%= exam.document_file_name %></td>
				<% end %>
				<td class="center"><%= exam.professor %></td>
				<td class="center"><%= exam.description %></td>
				<td><%= exam.term %></td>

				<% @exam_activity.each do |activity| %>
					<% if activity[0] == exam.id %>
						<% if activity[1] == "up" %>
							<td style="text-align: center;" id="quality"><%= image_tag("/upvote.png") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= image_tag("/downvote_neutral.png") %></td>
						<% elsif activity[1] == "down" %>
							<td style="text-align: center;" id="quality"><%= image_tag("/upvote_neutral.png") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%=image_tag("/downvote.png") %></td>
						<% else %>
							<td style="text-align: center;" id="quality"><%= link_to image_tag("/upvote_neutral.png"), upvote_path, :class => "upvote", :remote => true %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= link_to image_tag("/downvote_neutral.png"), downvote_path, :class => "downvote", :remote => true %></td>
							<td style="display:none;" id="upvote_submission">
								<%= form_tag(submit_vote_path) do %>
									<%= hidden_field_tag :exam, exam.id %>
									<%= hidden_field_tag :vote, "up" %>
									<%= submit_tag("Submit Vote") %>
								<% end %>
							</td>
							<td style="display:none;" id="downvote_submission">
								<%= form_tag(submit_vote_path) do %>
									Test 2
									<%= select(nil, :downvote_reason, ["Irrelevant", "Duplicate", "Misplaced", "Other"]) %>
									<%= hidden_field_tag :exam, exam.id %>
									<%= hidden_field_tag :vote, "down" %>
									<%= submit_tag("Submit Vote") %>
								<% end %>
							</td>
						<% end %>
						<% break %>
					<% elsif @exam_activity.last == activity %>
						<td style="text-align: center;" id="quality"><%= link_to image_tag("/upvote_neutral.png"), upvote_path, :class => "upvote", :remote => true %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= link_to image_tag("/downvote_neutral.png"), downvote_path, :class => "downvote", :remote => true %></td>
						<td style="display:none;" id="upvote_submission">
							<%= form_tag(submit_vote_path) do %>
								<%= hidden_field_tag :exam, exam.id %>
								<%= hidden_field_tag :vote, "up" %>
								<%= submit_tag("Submit Vote") %>
							<% end %>
						</td>
						<td style="display:none;" id="downvote_submission">
							<%= form_tag(submit_vote_path) do %>
								Test 2
								<%= select(nil, :downvote_reason, ["Irrelevant", "Duplicate", "Misplaced", "Other"]) %>
								<%= hidden_field_tag :exam, exam.id %>
								<%= hidden_field_tag :vote, "down" %>
								<%= submit_tag("Submit Vote") %>
							<% end %>
						</td>
					<% end %>
				<% end %>

				<% if @exam_activity.size == 0 %>
					<td style="text-align: center;" id="quality"><%= link_to image_tag("/upvote_neutral.png"), upvote_path, :class => "upvote", :remote => true %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= link_to image_tag("/downvote_neutral.png"), downvote_path, :class => "downvote", :remote => true %></td>
					<td style="display:none;" id="upvote_submission">
						<%= form_tag(submit_vote_path) do %>
							<%= hidden_field_tag :exam, exam.id %>
							<%= hidden_field_tag :vote, "up" %>
							<%= submit_tag("Submit Vote") %>
						<% end %>
					</td>
					<td style="display:none;" id="downvote_submission">
						<%= form_tag(submit_vote_path) do %>
							Test 2
							<%= select(nil, :downvote_reason, ["Irrelevant", "Duplicate", "Misplaced", "Other"]) %>
							<%= hidden_field_tag :exam, exam.id %>
							<%= hidden_field_tag :vote, "down" %>
							<%= submit_tag("Submit Vote") %>
						<% end %>
					</td>
				<% end %>

			</tr>
		<% end %>


</table>