<table align="center">
	<col width="200" />
	<col width="300" />
	<col width="100" />
	<col width="200" />
	<col width="100" />
	<col width="100" />
		
		<th>Filename</th>
		<th>Course</th>
		<th>Professor</th>
		<th>Details</th>
		<th>Term</th>
		<th>Quality</th>

		<% @exams.each do |exam| %>
			<tr>
				<% if @accessible_exams && @accessible_exams.size > 0 && @accessible_exams.include?(params[:course]) %>
					<td><%= link_to exam.document_file_name, "http://dl.dropbox.com/u/108716796#{exam.document.path}", :target => "_blank" %></td>
				<% else %>
					<td><%= exam.document_file_name %></td>
				<% end %>
				<td class="center"><%= link_to "#{exam.course.field.abbr} #{exam.course.title}", test_bank_path(:course => exam.course.id) %></td>
				<td class="center"><%= exam.professor %></td>
				<td class="center"><%= exam.description %></td>
				<td class="center"><%= exam.term %></td>
				<td class="center"><%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %></td>

			</tr>
		<% end %>


</table>