<div id="testbank_wrapper">
<body class="main">

<h1>My Exams</h1>

<div>
	<%= link_to "Back to Test Bank", test_bank_path %></br>
</div>

<h2>Accessible Exams:</h2>
<% if @downloaded_exams.size > 0 %>
<table align="center">
	<col width="200" />
	<col width="300" />
	<col width="100" />
	<col width="100" />
	<col width="100" />
	<col width="100" />
	<col width="75" />
		
		<th><%= link_to "Filename", my_vault_path(:order => (@current_order == "by_filename" ? "by_filename_desc" : "by_prof")) %></th>
		<th><%= link_to "Course", my_vault_path(:order => (@current_order == "by_course" ? "by_course_desc" : "by_course")) %></th>
		<th><%= link_to "Professor", my_vault_path(:order => (@current_order == "by_prof" ? "by_prof_desc" : "by_prof")) %></th>
		<th>Details</th>
		<th>Term</th>
		<th><%= link_to "Quality", my_vault_path(:order => (@current_order == "by_quality" ? "by_quality_desc" : "by_quality")) %></th>
		<th></th>

		<% @downloaded_exams.each do |exam| %>
			<tr>
				<td><%= link_to exam.document_file_name, "http://dl.dropbox.com/u/108716796#{exam.document.path}", :target => "_blank" %></td>
				<td class="center"><%= link_to "#{exam.course.field.abbr} #{exam.course.title}", test_bank_path(:course => exam.course.id) %></td>
				<td class="center"><%= exam.professor %></td>
				<td class="center"><%= exam.description %></td>
				<td class="center"><%= exam.term %></td>
				<% if @exam_activity.size > 0 %>
				<% @exam_activity.each do |activity| %>
					<% if activity[0] == exam.id %>
						<% if activity[1] == "up" %>
							<td style="text-align: center;" id="quality"><%= image_tag("/upvote.png") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= image_tag("/downvote_neutral.png") %></td>
						<% elsif activity[1] == "down" %>
							<td style="text-align: center;" id="quality"><%= image_tag("/upvote_neutral.png") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%=image_tag("/downvote.png") %></td>
						<% else %>
							<td style="text-align: center;" id="quality"><%= image_tag("/upvote_neutral.png", :class => "upvote") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= image_tag("/downvote_neutral.png", :class => "downvote") %></td>
							<td style="display:none;" id="upvote_submission">
								<%= form_tag(submit_vote_path) do %>
									<%= hidden_field_tag :exam, exam.id %>
									<%= hidden_field_tag :vote, "up" %>
									<%= hidden_field_tag :route, "my_vault_path" %>
									<%= submit_tag("Submit Vote") %>
								<% end %>
							</td>
							<td style="display:none;" id="downvote_submission">
								<%= form_tag(submit_vote_path) do %>
									<%= select(nil, :downvote_reason, ["Irrelevant", "Duplicate", "Misplaced", "Other"]) %>
									<%= hidden_field_tag :exam, exam.id %>
									<%= hidden_field_tag :vote, "down" %>
									<%= hidden_field_tag :route, "my_vault_path" %>
									<%= submit_tag("Submit Vote") %>
								<% end %>
							</td>
						<% end %>
						<% break %>
					<% elsif activity == @exam_activity.last %>
						<td style="text-align: center;" id="quality"><%= image_tag("/upvote_neutral.png", :class => "upvote") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= image_tag("/downvote_neutral.png", :class => "downvote") %></td>
						<td style="display:none;" id="upvote_submission">
							<%= form_tag(submit_vote_path) do %>
								<%= hidden_field_tag :exam, exam.id %>
								<%= hidden_field_tag :vote, "up" %>
								<%= hidden_field_tag :route, "my_vault_path" %>
								<%= submit_tag("Submit Vote") %>
							<% end %>
						</td>
						<td style="display:none;" id="downvote_submission">
							<%= form_tag(submit_vote_path) do %>
								<%= select(nil, :downvote_reason, ["Irrelevant", "Duplicate", "Misplaced", "Other"]) %>
								<%= hidden_field_tag :exam, exam.id %>
								<%= hidden_field_tag :vote, "down" %>
								<%= hidden_field_tag :route, "my_vault_path" %>
								<%= submit_tag("Submit Vote") %>
							<% end %>
						</td>
					<% end %>
				<% end %>
				<% else %>
					<td style="text-align: center;" id="quality"><%= image_tag("/upvote_neutral.png", :class => "upvote") %> <%= exam.quality > 0 ? "+#{exam.quality}" : exam.quality %> <%= image_tag("/downvote_neutral.png", :class => "downvote") %></td>
						<td style="display:none;" id="upvote_submission">
							<%= form_tag(submit_vote_path) do %>
								<%= hidden_field_tag :exam, exam.id %>
								<%= hidden_field_tag :vote, "up" %>
								<%= hidden_field_tag :route, "my_vault_path" %>
								<%= submit_tag("Submit Vote") %>
							<% end %>
						</td>
						<td style="display:none;" id="downvote_submission">
							<%= form_tag(submit_vote_path) do %>
								<%= select(nil, :downvote_reason, ["Irrelevant", "Duplicate", "Misplaced", "Other"]) %>
								<%= hidden_field_tag :exam, exam.id %>
								<%= hidden_field_tag :vote, "down" %>
								<%= hidden_field_tag :route, "my_vault_path" %>
								<%= submit_tag("Submit Vote") %>
							<% end %>
						</td>
				<% end %>
			</tr>
		<% end %>
</table>
<% else %>
	<div class="center">
		You do not have access to any exams. <%= link_to "Get access now!", test_bank_path %>
	</div>
<% end %>

<h2>Uploaded Exams:</h2>
<%= link_to "Upload an Exam", upload_exam_path %></br>

<% if @uploaded_exams.size == 0 %>
	<div class="center">You have not uploaded any exams.</div>
<% else %>
<table align="center">
	<col width="200" />
	<col width="300" />
	<col width="100" />
	<col width="100" />
	<col width="100" />
	<col width="100" />
	<col width="75" />
		
		<th>Filename</th>
		<th>Course</th>
		<th>Professor</th>
		<th>Details</th>
		<th>Term</th>
		<th>Quality</th>

		<% @uploaded_exams.each do |exam| %>
			<tr>
				<td><%= link_to exam.document_file_name, "http://dl.dropbox.com/u/108716796#{exam.document.path}", :target => "_blank" %></td>
				<td><%= exam.course.field.abbr %> <%= exam.course.title %></td>
				<td class="center"><%= exam.professor %></td>
				<td class="center"><%= exam.description %></td>
				<td class="center"><%= exam.term %></td>
				<td class="center"><%= exam.quality %></td>
			</tr>
		<% end %>
</table>
<% end %>

</body>
</div>