<% topics = Forem::Topic.all %>
<% topics.sort! {|a,b| b.created_at <=> a.created_at} %>

<div id="new_topics">
<h1>What the Hill is talking about</h1>
<hr>
<% if topics.count < 10 %>
	<ul>
		<% topics.each do |t| %>
			<li><%= link_to t.subject, forem.forum_topic_path(t.forum.id, t) %> in <%= t.forum.title %> by <%= t.user %></li>
		<% end %>
	</ul>
<% else %>
	<ul>
		<% for i in 0..9 %>	<!-- This may have to be 0..9 -->
			<li><%= link_to topics[i].subject, forem.forum_topic_path(topics[i].forum.id, topics[i]) %> in <%= topics[i].forum.title %> by <%= topics[i].user %></li>
		<% end %>
	</ul>
<% end %>

</div>