<body class="main">
<div id="homepage_wrapper">
	<span class="title">Hill Heroes</span>
	<span class="subtitle"><%= @rand_subtitle %></span>
	
	<div class="close_resources">
		<div id="navigation">
			<%= link_to "About" %> | 
			<a href="/forums">Forum</a> | 
			<span id="dining_menu_link"><%= link_to "Dining Menu", homepage_path, :remote => true %></span> | 
			<%= link_to "Textbooks", find_books_path %> | 
			<%= link_to "Classmates", classmates_path %> | 
			<%= link_to "Test Bank", test_bank_path %> | 
			<%= link_to "Resources", "", :remote => true, :id => "resources_link" %>
		</div>

		<div id="resources_panel">
			<ul>
				<li><%= link_to "Submit a Maintenance Request", "http://www.housing.ucla.edu/workorder/", :target => "_blank" %></li>
				<li><%= link_to "Deposit to BCard", "https://secure.bruincard.ucla.edu/bcw/app/webdeposit/TransactionRequest.aspx", :target => "_blank" %></li>
				<li><%= link_to "CEC Free Sneaks", "http://campuseventsblog.com/category/films/", :target => "_blank" %></li>
				<li><%= link_to "Melnitz Screenings", "http://gsa.asucla.ucla.edu/melnitz", :target => "_blank" %></li>
				<li><%= link_to "Career Center", "https://secure.career.ucla.edu/BruinViewLogin/Login.aspx", :target => "_blank" %></li>
			</ul>
		</div>
	</div>
	
	<div class="left">
			<div id="accordion">
				<h3 id="top" class="cyclotron"><a href="#">Welcome!</a></h3>
				<div id="height" style="padding: 0 5px 0 5px;">
					<div id="roadmap_link"><div id="roadmap_link_1"><%= link_to "DRINKING & SMOKING IN THE DORMS", roadmap_path %></div> <div id="roadmap_link_2"><%= link_to "and how to get away with it", roadmap_path %></div></div>
				</div>
				<h3><a href="#">About</a></h3>
				<div>
					<a href=""><img src="doItLive.png" /></a>
					<div id="right2">
						<ul>
							<li>Download old quizzes, midterms, and finals from the <%= link_to "Test Bank", test_bank_path %></li>
							<li>Cut out the middle man and <%= link_to "exchange textbooks", find_books_path %> with students living right here on the Hill</li>
							<li>See what's for dinner</li>
							<li>And more!</li>
						</ul>
					</div>
				</div>
				<h3><a href="#">Hot Topics</a></h3>
				<div>
					<%= render :partial => "newest_topics" %>
				</div>
			</div>
	</div>
	
	<div class="right">
		<div id="top_posters">
			<%= render :partial => "test_bank_uploads" %>
		</div>
		<div id="top_posters">
			<%= render :partial => "newest_users" %>
		</div>
	</div>

	<div id="background_image"><img src="superbear.jpg" /></div>
</div>
</body>