<body class="main">
<div id="homepage_wrapper">
	<span class="title">Hill Heroes</span>
	<span class="subtitle"><%= @rand_subtitle %></span>
	
	<div class="close_resources">
		<div id="navigation">
			<%= link_to "About" %> | 
			<a href="/forums">Forum</a> | 
			<span id="dining_menu_link"><%= link_to "Dining Menu", homepage_path, :remote => true %></span> | 
			<%= link_to "Textbooks", find_books_path %> | 
			<%= link_to "Classmates", classmates_path %> | 
			<%= link_to "Test Bank", test_bank_path %> | 
			<%= link_to "Resources", "", :remote => true, :id => "resources_link" %>
		</div>

		<div id="resources_panel">
			<ul>
				<li><%= link_to "Submit a Maintenance Request", "http://www.housing.ucla.edu/workorder/", :target => "_blank" %></li>
				<li><%= link_to "Deposit to BCard", "https://secure.bruincard.ucla.edu/bcw/app/webdeposit/TransactionRequest.aspx", :target => "_blank" %></li>
				<li><%= link_to "Career Center", "https://secure.career.ucla.edu/BruinViewLogin/Login.aspx", :target => "_blank" %></li>
				<li><%= link_to "CEC Free Sneaks", "http://campuseventsblog.com/category/films/", :target => "_blank" %></li>
				<li><%= link_to "Melnitz Screenings", "http://gsa.asucla.ucla.edu/melnitz", :target => "_blank" %></li>
			</ul>
		</div>
	</div>
	
	<div class="left1">
			<div>
				<div id="right1">
					<a href=""><img src="doItLive.png" title="And what that means for YOU!" /></a>
				</div>
				<div id="right2">
					<ul>
						<li id="first"><b><%= link_to "Learn how to Drink and Smoke in the dorms at UCLA!", roadmap_path %></b></li>
						<li>Download old quizzes, midterms, and finals from the Test Bank</li>
						<li>Cut the middle man and exchange textbooks with students living right here on the Hill</li>
						<li>See what's for dinner</li>
						<li>And much much more....</li>
					</ul>
				</div>
			</div>
	</div>
	
	<div class="right">
		<div id="top_posters">
			<%= render :partial => "newest_users" %>
		</div>
		<div id="top_posters">
			<%= render :partial => "building_leaders" %>
		</div>
	</div>

	<div class="left2">
		<%= render :partial => "newest_topics" %>
	</div>

	<div id="background_image"><img src="superbear.png" /></div>

	<div id="dining_menu"><%= render :partial => "/navigation/dining" %></div>
</div>
</body>