<body class="main">
<div id="homepage_wrapper">
	<span class="title">Hill Heroes</span>
	<span class="subtitle"><%= @rand_subtitle %></span>
	
		<div id="navigation">
			<%= link_to "About", about_path %> | 
			<a href="/forums">Forum</a> | 
			<span id="dining_menu_link"><%= link_to "Dining Menu", homepage_path, :remote => true %></span> | 
			<%= link_to "Textbooks", find_books_path %> | 
			<%= link_to "Classmates", classmates_path %> | 
			<%= link_to "Test Bank", test_bank_path %>
		</div>
	
	<div class="left">
			<div id="accordion">
				<h3 id="top" class="cyclotron"><a href="#">Welcome!</a></h3>
				<div id="height" style="padding: 0 5px 0 5px;">
					<a href="/about"><img src="doItLive.png" title="And what that means for YOU!" /></a>
				</div>
				<h3><a href="#">Dining Menu</a></h3>
				<div>
					Blah blah blah
				</div>
				<h3><a href="#">Hot Topics</a></h3>
				<div>
					<%= render :partial => "newest_topics" %>
				</div>
			</div>
	</div>
	
	<div class="right">
		<div id="top_posters">
			<%= render :partial => "building_leaders" %>
		</div>
		<div id="top_posters">
			<%= render :partial => "top_posters" %>
		</div>
	</div>

	<div id="background_image"><img src="superbear.jpg" /></div>

	<div id="dining_menu"><%= render :partial => "/navigation/dining" %></div>
</div>
</body>