<!DOCTYPE html>
<html>
<head>
  <title>Hill Heroes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/superbear_avatar.png"/>
  <%= csrf_meta_tags %>
  <% if notice %>
    <span id="header_image"><%= image_tag "/notice_img.png", :size => "25x25" %></span><span class="notice">  &nbsp;&nbsp;&nbsp;<%= notice %>&nbsp;&nbsp;</span>
  <% end %>
  <% if alert %>
    <span id="header_image"><%= image_tag "/alert_img.png", :size => "25x25" %></span><span class="alert">  &nbsp;&nbsp;&nbsp;<%= alert %>&nbsp;&nbsp;</span>
  <% end %>
</head>
<body>

<header>
    <nav>
        <% if user_signed_in? %>
            <div align="right">
			<%= link_to "Home", main_app.homepage_path %>
			| <%= link_to "Profile", main_app.alt_profile_path(:user => current_user.id) %>
			| <%= link_to "Friends", main_app.friendships_path %>
			<% if current_user.new_messages == false %>
				| <%= link_to(image_tag('mail.gif', :size => "20x16"), main_app.my_messages_path) %>
			<% else %>
				| <%= link_to(image_tag('new_mail.gif', :size => "20x16"), main_app.my_messages_path) %>
			<% end %>
            | <b style="color:black;"><%= current_user.username %></b>
			(<%= link_to "Sign out", main_app.destroy_user_session_path, :method => :delete %>)
            <% if current_user.forem_admin %>
                | <%= link_to "Administrate", forem.admin_root_url %>
            <% end %>
            <% if current_user.owner %>
                | <%= link_to "Owner Area", owner_area_path %>
            <% end %>
            </div>
        <% else %>
            <div align="right"><%= link_to "Sign in", main_app.new_user_session_path %>
			| <%= link_to "Sign up", main_app.new_user_registration_path %></div>
        <% end %>
    </nav>
</header></br>
<%= yield %>

</body>
</html>
