<!DOCTYPE html>
<html>
<head>
  <title>Sign In/Up</title>
  <%= stylesheet_link_tag    "/assets/devise/devise.css" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/superbear_avatar.png"
  <%= csrf_meta_tags %>
  <% if notice %>
    <span id="header_image"><%= image_tag "/notice_img.png", :size => "25x25" %></span><span class="notice">  &nbsp;&nbsp;&nbsp;<%= notice %>&nbsp;&nbsp;</span>
  <% end %>
  <% if alert %>
    <span id="header_image"><%= image_tag "/alert_img.png", :size => "25x25" %></span><span class="alert">  &nbsp;&nbsp;&nbsp;<%= alert %>&nbsp;&nbsp;</span>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
