<!DOCTYPE html>
<html>
<head>
  <title>Sign In/Up</title>
  <%= stylesheet_link_tag    "/assets/devise/devise.css" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/superbear_avatar.png"
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>
<body>

<%= yield %>

</body>
</html>
